/* Hague wuz here tsneraiotsnreatioantesiraotnreaiotnre */

/* Tags */

body {
    background-color: rgba(0, 0, 0, 1);
}

/* Classes */
.paragraph {
    text-align: left;
    font-size: 16px;
    color: rgba(181, 254, 255, 0.79);
}

.button {
    display: block;
    margin: 0 auto;
    opacity: 100%;
    

    transition: opacity 2s ease-in-out;
}

.button:hover {
    opacity: 50%;
}