/* Hague wuz here tsneraiotsnreatioantesiraotnreaiotnre */

/* Tags */

body {
    background-color: rgb(255, 255, 255);
    margin: 2vw;
}

footer {
    background-color: rgb(99, 99, 99);
    margin: 0.25vw;
    padding: 2vw;
}

/* Classes */
.paragraph {
    display: block;
    text-align: left;
    font-size: 1.5vw;
    color: rgb(0, 0, 0);
}

.heading {
    display: block;
    text-align: center;
    font-size: 3vw;
    color: rgb(0, 0, 0);
}

.footnote {
    font-size: 1vw;
    color: rgb(255, 255, 255);
}

.button {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    padding: 0.5vw 0.75vw;
    border-width: 0.5vw;
    border-radius: 25px;
    
    font-size: 1.5vw;
    border-color: rgb(0, 0, 0);

    opacity: 100%;
    cursor: pointer;

    transition: all 0.4s ease-in-out;
}


.button:hover {
    opacity: 50%;
    border-radius: 0%;
}

.cite_1 {
    /* Used document design mode pasted and copied the style */

    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-size: 11pt; 
    font-family: "Times New Roman"; 
    line-height: 200%; 
    margin-top: 0px; 
    margin-bottom: 0em; 
    margin-left: 36pt; 
    tab-size: 36pt; 
    text-indent: -36pt;
}

.cite_2 {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-size: 11pt; 
    line-height: 200%; 
    margin-top: 0px; 
    margin-bottom: 0em; 
    margin-left: 36pt; 
    tab-size: 36pt; 
    text-indent: -36pt;
}

.citeContainer_2 {
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: -36pt;
}
